<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="app.js"></script>
</head>
<body style="background: black;">
    <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/join" class="btn-log">Join Meeting</a></li>
          <li><a href="/new" class="btn-log ">Start Meeting</a></li>
                            
        </ul>
      </nav>
      <canvas id="sky">
        <hi>Welcome</hi>
    </canvas>
</body>
</html>